<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <paypal_here>
      <version>1.0.0</version>
    </paypal_here>
  </modules>
  <global>
    <models>
      <here>
        <class>Paypal_Here_Model</class>
      </here>
    </models>
    <helpers>
      <here>
        <class>Paypal_Here_Helper</class>
      </here>
    </helpers>
    <blocks>
      <here>
        <class>Paypal_Here_Block</class>
      </here>
    </blocks>
  </global>
    <default>
      <payment>
        <here>
          <model>here/standard</model>
          <active>0</active>
          <order_status>complete</order_status>
          <title>PayPalHere</title>
          <name>Walkin</name>
          <lname>Customer</lname>
          <payment_action>sale</payment_action>
          <allowspecific>0</allowspecific>
        </here>
      </payment>
    </default>  
  <frontend>
    <routers>
      <here>
        <use>standard</use>
        <args>
          <module>Paypal_Here</module>
          <frontName>here</frontName>
        </args>
      </here>
    </routers>
    <layout>
       <updates>
           <paypal_here>
               <file>paypal/here.xml</file>
           </paypal_here>
       </updates>
   </layout>      
  </frontend>
</config>
