<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <here translate="label comment" module="here">
          <label>PayPal Here</label>
          <frontend_type>text</frontend_type>
          <sort_order>20</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <order_status translate="label">
              <label>New Order Status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </order_status>
            <payment_action translate="label">
                <label>Payment Action</label>
                <config_path>payment/paypal_standard/payment_action</config_path>
                <frontend_type>select</frontend_type>
                <source_model>paypal/system_config_source_paymentActions</source_model>
                <sort_order>30</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
            </payment_action>            
            <allowspecific translate="label">
              <label>Payment Applicable From</label>
              <frontend_type>select</frontend_type>
              <sort_order>60</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </allowspecific>
            <specificcountry translate="label">
              <label>Countries Payment Applicable From</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>70</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends>
                <allowspecific>1</allowspecific>
              </depends>
            </specificcountry>
            <name translate="label">
              <label>Customer First Name</label>
              <comment>This is used when customer does not want any receipt.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>80</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name> 
            <lname translate="label">
              <label>Customer Last Name</label>
              <comment>This is used when customer does not want any receipt.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>80</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </lname> 
            <email translate="label">
              <label>Customer Email</label>
              <comment>This is used when customer does not want any receipt.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>90</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </email>
            <phone translate="label">
              <label>Customer Phone</label>
              <comment>This is used when customer does not want any receipt.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </phone>                          
          </fields>
        </here>
      </groups>
    </payment>
  </sections>
</config>